<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script src="/js/main.js"></script>
</head>

<body>

  <h1>Learning about heroku and node</h1>

  <p id="demo">
    On Saturday, April 9th Zoe Sobin taught us how to use heroku and node.js to build a web app. Heroku is actually a lot of fun and works pretty seamlessly with github. For a text editor we are using Sublime.
  </p>

  <button type="button" onclick="myFunction()">
    Try it
  </button>

</body>

</html>