<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</head>

<body>

  <h1>5 Steps to Running A Successful Technical Workshop</h1>

  <div id="general">
  <p>
    <img class="hero-image" src="img/web-app-workshop.jpeg" alt="Building Your First Web App workshop at HubSpot" style="width:458px;height:338px;">
    Even if you study computer science in school, you may get minimal experience building a practical project that you can refer to in your future interviews, but such experience is crucial for getting hired. That's why a few folks from the HubSpot Product organization came together to host a <a href="http://product.hubspot.com/womens-web-app-workshop" target="_blank"> Building Your First Web App</a> workshop for female students in the area this Saturday, April 9th. 
    This was one of the most fun and productive workshops I've personally attended because I now have this awesome little app to tell you how we did it. Check out the five steps of running a successful technical workshop by pressing the button below.
  </p>
  </div>

<div id="leaders" class="disappear">
<h2>1. Find the Leaders</h2>
<p>
First off, you need to have a few people who can take the charge on the workshop. For us those people were <a href="https://twitter.com/zoesobin" target="_blank">Zoe Sobin</a>, a software engineer and recent Tufts computer science graduate, and our engineering recruiter Colleen Grant. This dynamic duo ensured that both the content and the organization of the entire event were stellar. Zoe focused on the agenda, including prep materials and the actual content. Colleen ensured that we had a good registration process and spread the word about the event, thus gathering more than 60 attendees.
</p>
</div>

<div id="prep-work" class="disappear">
<h2>2. Do the Prep Work Ahead of Time</h2>
<p>
I can't emphasize enough how important it was that we had done the right prep work for this workshop. This meant structuring the content to match the audience interests and level, putting together the prep materials ahead of time, and making the projects realistic and achievable. Since this was a technical workshop, it required thinking through the environment setup, creating a common technical vocabulary (e.g. APIs, github, hedoku, etc) that all attendees understand, and even finding free tools that everyone could use. We held a dry run to ensure all these things were accounted for.
</p>
</div>

<div id="agenda" class="disappear">
<h2>3. Make the Agenda Diverse and Flexible</h2>
<p>
The entire workshop lasted for about six hours, but it felt like the time flew by thanks to our diverse agenda. We started out with a breakfast, a brief presentation about why we are hosting this workshop, and a few words from one of HubSpot's Directors of Engineering, Andrew Rodwin. Then, Zoe established a common vocabulary around how the Internet works and led us through <a href="https://github.com/zsobin/DemoWebApp" target="_blank">a node.js and hedoku exercise</a>. After lunch, three of HubSpot's software engineers and recent college grads Allison Ventura, Rose DeMaio and Talia Swartz led a few hands-on exercises that involved the usage of bootstrap, APIs and databases. Throughout the whole event we left some free time to continue working on any of the two projects, network with other attendees, grab a bite, and even get your resume reviewed. The agenda's flexibility made the whole day fun and interesting.
</p>
</div>

<div id="supporters" class="disappear">
<h2>4. Recruit Passionate Event Helpers</h2>
<p>
<img class="hero-image" src="img/supporters.jpeg" alt="Building Your First Web App workshop at HubSpot" style="width:328px;height:378px;">
We promoted the workshop internally and got a ton of volunteers across the engineering team to come and help out by answering questions and guiding the students through the various exercises. A mix of around 30-40 software engineers, designers, product manegers, and recruiters showed up to support in various ways. And, as you can imagine, this made everything a lot of fun.
</p>
</div>

<div id="documentation" class="disappear">
<h2>5. Provide Good Documentation</h2>
<p>
Lastly, all the projects we walked through are available on github so folks could follow along and review the documentation even after the live event was over. You can find them here: 
<ul><a href="https://github.com/zsobin/DemoWebApp" target="_blank"> Demo App Project created by Zoe</a></ul>
<ul><a href="https://github.com/rosedemaio/DemoWebApp" target="_blank"> Demo App Project by Rose</a></ul>
<ul><a href="https://github.com/tswartz/DemoWebApp" target="_blank"> Demo App Project by Talia</a></ul>
<ul><a href="https://github.com/allivent/DemoWebApp" target="_blank"> Demo App Project by Allison</a></ul>
</p>
<p>Hope you will use these resources to make your own web app. And if you do, please let us know what it is because we will be so happy to see it.</p>
</div>
<button id="read-more" type="button" onclick="myFunction()">
    Read on
  </button>

<button id="cta" type="button" onclick="goTojobs()">
    Keep hangin' with us
  </button>


</body>

</html>